<div class="padding">
        <div class="row">
        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
             <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                      <div class="card card-profile">
                          <div class="card-avatar">
                              <a href="javascript:void(0)">
                                  <img src="./assets/img/gapsi.png" />
                              </a>
                          </div>
                          <div class="card-body">
                              <h1 class="card-category text-gray">Bienvenido</h1>
                              <h3 class="card-title">{{welcome}}</h3>
                              <p class="card-description">
                                  {{info.titl}}
                                  {{info.description}}
                                  {{info.version}}
                              </p>
                              <a href="#" (click)=providerList($event) class="btn btn-info btn-round">Continuar</a>

                          </div>
                      </div>


                </div>
                <div class="col-md-4">
                </div>
            </div>
              

            </div>
    
    </div>

</div>

